/*Navbar*/
.navbar-nav li a {
    font-size: 0.7em;
    text-transform: uppercase;
}
/*-------------------------------------------------- */
/*Personalización Imagenes*/
.logoMain{
    width: 12.5em;
    height: 3em;
}

/*Secciones*/
/* NAVBAR*/
.navbar-nav li a:hover {
    color:#ee7424; !important;
    background-color: white;!important;
}
.navbar-nav > .active > a:hover {
    color: #ee7424;!important;
}
.navbar-nav .dropdown .active{
    color: white;
    background-color: #ee7424;
}
/*-------------------------------------------------- */
/* CAROUSEL */
/* Carousel base class*/
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 8rem;
    z-index: 10;
    text-align: left;
}
/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 50%;
    height: 32rem;
}
.btnCarousel{
    text-decoration: none;
    padding: 0.5em;
    font-weight: 600;
    font-size: 0.8em;
    color: #ffffff;
    background-color: #ee7424;
}
.btnCarousel:hover{
    color: #ee7424;
    background-color: #ffffff;
}
.carousel-caption > h1 {
    font-size: 2em;

}
.carousel-caption > h2 {
    font-size: 1.5em;
    text-align: left;
}
.carousel-caption > p {
    font-size: 0.9em;
}
/* -------------------------------------------------- */

/* Seccion Logos Principales */
.secLogos{
    margin: -7.4em 12em 2em 12em;
}
.logos{
    width: 8em;
    height: 8em;
    max-height: 100%;
    max-width: 100%;
    margin-right: 4em;
    background-color: #ee7424;
    border-radius: 50%;

    display: flex;
    /* align-items por defecto tiene el valor `stretch` */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logos > a > img{
    max-width: 3em;
    max-height: 3em;
}
.logos > h6{
    text-align: center;
    font-size: 0.8em;
    color: white;
}
/*-------------------------------------------------- */
/* Seccion Iniciativas */
.secIniciativas{
    margin: 0em 10em 2em 10em;
    text-align: center;
}

.secIniciativas > .row > .col-md-6{
    margin-bottom: 2em;
}
.secIniciativas > .row > .col-md-6 > img{
    width: 25em;
    height: 14em;
}

.btnIniciativas{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color: #ee7424;
}
.btnIniciativas:hover{
    color: #ee7424;
    background-color: #ffffff;
}
.hrPer{
    background-color: #ee7424;
    width: 20%;
    height: 0.2em;
}
.secIniciativas > h3 {
    font-size: 1em;
}
.secIniciativas > h1 {
    font-size: 2em;
    color: #ee7424;
}
.secIniciativas > p{
    text-align: center;
}
.secIniciativas > .row > .col-md-6 > h4{
    font-size: 1.2em;
    color: #ee7424;
}

.secIniciativas > .row > .col-md-6 > p{
    font-size: 0.8em;
    color: black;
}
/*-------------------------------------------------- */
/* Seccion Primer Footer  */
.footerFirst{
    background-color: #ee7424;
    color: white;
    height: 6em;
}
.footerFirst > .row{
    margin: 0 0 0 0;
}

.btnContactanos{
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 0.8em;
    color: #ffffff;
    background-color: #ee7424;
    border-color: white;
}
.btnContactanos:hover{
    color: #ee7424;
    background-color: #ffffff;
}
.logoFooter{
    max-width: 13em;
    max-height: 3em;
}
.footerFirst > .row > .col-md-4 > p {
    font-size: 1.5em;
}

/*-------------------------------------------------- */

/* Seccion Blog */
.blog{
    margin: 3em 10em 2em 10em;
}
.blog > h3, h2{
    text-align: center;
}
.card-deck{
    margin-top: 3em;
    margin-bottom: 3em;
}
.card-img-top{
    max-height: 12em;
    max-width: 100%;
}
.boton{
    text-align: center;
}
.btnBlog{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 0.8em;
    color: #ee7424;
    background-color: white;
    border-color:#ee7424;
}
.btnBlog:hover{
    color: white;
    background-color: #ee7424;
}

.blog > h3{
    font-size: 0.9em;
}
.blog > h2{
    font-size: 1.5em;
    text-align: center;
    color: #ee7424;
}
.card-body > h5{
    font-size: 1em;
}
.card-body > p{
    font-size: 0.8em;
}
/*-------------------------------------------------- */

/* Seccion Contactanos */
.contactanos{
    text-align: center;
    color: white;
    background-image: url('../img/inicio/fondo_contactanos.png');
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position-y: -6.875em;
    height: 30rem;
    min-width: 100%;
    min-height: 50%;
}
.contactanos1{
    background: rgba(18, 18, 18, 0.6);
    height: 100%;
}
.contactanos1 > h1{
    margin-top: 1.5em;
}
.hrPer2{
    background-color: white;
    width: 20%;
    height: 0.1em;
}
.btn-flecha{
    text-decoration: none;
    padding: 0.3125em;
    font-weight: 600;
    font-size: 0.7em;
    color: #ffffff;
    background-color: #ee7424;
    text-align: center;
}
.formulario{
    margin: 0 0 0 0;
}
.formulario > .col-4 > .input-group {
    width: 30em;
    margin-left: -3em;
}
.formulario > .col-4 > .input-group > input {
    font-size: 0.7em;
}
.formulario > .col-4 > .input-group > .input-group-prepend {
    text-decoration: none;
    padding: 0.3125em;
    font-weight: 600;
    font-size: 0.7em;
    color: #ffffff;
    background-color: #ee7424;
    text-align: center;
}
.contactanos1 > h3{
    font-size: 0.8em;
}
.contactanos1 >h1{
    font-size: 2em;
}
.contactanos1 > p{
    font-size: 0.8em;
    margin-bottom: 5em;
}

/*-------------------------------------------------- */
/* Seccion Somos Parte */
.somos-parte{
    text-align: center;
    margin: 4em 0 4em 0;
}
.somos-parte > .row {
    margin:0  8em 0 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.somos-parte > .row > .col-md-2 > img {
    max-width: 8em;
    max-height: 4em;
}
/*-------------------------------------------------- */
/* Seccion Contactos */
.contactos{
    background-color: #ee7424;
    color: white;
}
.contactos > .row{
    margin: 0 0 0 0;
}

.contactos > .row > .col-md-2 > img {
    width: 8em;
    max-height: 6em;
    max-width: 100%;
}

.contactos > .row > .col-md-4 {
    margin: 1em 0 0 0;
}
.contactos > .row > .col-md-4 > img {
    width: 20em;
    max-height: 100%;
}
.logosRedes{
    margin: 0.5em 0 3em 0;
}
.logosRedes > a  {
    color: white;
}
.encabezado2 > h5{
    font-size: 1.2em;
    margin-top: 3em;
}
.encabezado2 > p{
    font-size: 0.8em;
}
.contactos > .row > .col-md-6 > .row > .col-md-6 > .col-10{
    font-size: 0.8em;
}
/*-------------------------------------------------- */
/* Seccion Footer */
footer {
    background-color: rgba(18, 18, 18, 0.9);
    color: white;
    text-align: center;
    width: 100%;
    font-size: 0.7em;
}
.nav{
    margin: 3em auto 2em 24em;
    text-align: center;
}
.lista{
    padding: 0;
    list-style: none;
    display: inline-block;
}
.lista li{
    display: inline;
    float: left;
}
.lista li a {
    font-family: Arial;
    font-size: 1em;
    text-decoration: none;
    float: left;
    padding: 0.6em;
    color: rgba(18,18,18, 0.9);
}
/*-------------------------------------------------- */
/*Diseno Web Responsive*/
/*Responsive Smarthphone*/
@media screen and (max-device-width : 480px) {
    body{
        font-size: 50%;
    }

    .logos{
        max-height: 6em;
        max-width: 100%;
        margin-right: 0.2em;
        margin-top: 0.8em;
    }

    .logos > h6{
        font-size: 0.5em;
    }
    .secIniciativas{
        margin: 0em 0 2em 0;
    }
    .footerFirst > .row > .col-md-3{
        margin: 0 0 0 0;
    }
    .blog{
        margin: 3em 0 2em 0;
    }
    .contactanos{
        height: 20rem;
    }
    .somos-parte > .row {
        margin: 0 0 0 0;
    }
    .somos-parte > .row > .col-md-2 > img {
        max-width: 6em;
        max-height: 4em;
    }
    .formulario > .col-4 > .input-group {
        width: 5em;
        margin: 0 0 0 -1em;
    }
    .nav {
        margin: 3em 0 2em 0;
    }

}
/*Responsive Tablet*/
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){

}

@media screen and (max-width: 800px) {
    .secLogos{
        margin: -7.4em 4em 2em 4em;
    }
    .logos{
        max-width: 100%;
    }
    .footerFirst > .row > .col-md-3{
        margin: 0 0 0 0;
    }
    .blog{
        margin: 3em 0 2em 0;
    }
    .formulario > .col-4 > .input-group {
        width: 16em;
        margin: 0 0 0 -1em;
    }
    .somos-parte > .row {
        margin: 0 0 0 0;
    }
    .contactos > .row > .col-md-4 > img {
        max-width: 12em;
        text-align: center;
    }
    .nav{
        margin: 3em 0 2em auto;
        text-align: center;
    }

}


/* fin de la zona para más de 800px de ancho de pantalla */
@media screen and (min-width:1200px) {
    body {
    }

    .secLogos {
        margin: -7.4em 14em 2em 14em;
    }

    .logos {
        max-width: 100%;
    }

    .somos-parte > .row {
        margin: 6em 10em 0 10em;
    }
}




/*-------------------------------------------------- */

/*-------------------------------------------------- */
/*Diseno Web Responsive*/
@media screen and (max-device-width : 480px) {
    body{
        font-size:50%;
    }

    .footerFirst > .row > .col-md-4 > p {
        font-size: 1em;
    }
}
@media screen and (min-width:800px) {
    body {
        font-size:100%;
        /* ampliamos los textos si mide más de 800px */
    }
}

/* fin de la zona para más de 800px de ancho de pantalla */
@media screen and (min-width:1200px) {
    body {
        font-size:120%;
        /* ampliamos más aún los textos si mide más de 1200px */
    }
}

/*-------------------------------------------------- */