
/*SERVICIOS CSS*/

/**/
.encabezado h1{
    color: #ee7424;
    text-align: center;
    font-size: 2.3em;
}
.encabezado h4{
    text-align: center;
    font-size: 1.2em;
}
/*-------------------------------------------------- */
/**/
.secciones .row {
    margin: 0 0 0 0;
}
.secciones .row .col-md-3 img{
    width: 15em;
    height: 15em;
    max-width: 100%;
    max-height: 100%;
}
.secciones{
    margin-top: 3em;
}
.servicios1{
    margin-top: 1em;
    margin-bottom: 6em;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.tituloSobre{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
}

.btnServ1 {
    text-decoration: none;
    width: 17.5em;
    max-width: 100%;
    color: white;
    background-color: #ee7424;
    font-size: 0.85em;
}
.btnServ1:hover{
    color: #ee7424;
    background-color: white;
    border-color: #ee7424;
}

.servicios2{
    margin-top: 1em;
    margin-bottom: 6em;
}
.btnServ2 {
    text-decoration: none;
    width: 17.5em;
    max-width: 100%;
    color: white;
    background-color: blue;
    font-size: 0.85em;
}
.btnServ2:hover{
    color: blue;
    background-color: white;
    border-color: blue;
}

.servicios3{
    margin-top: 1em;
    margin-bottom: 6em;
}
.btnServ3 {
    text-decoration: none;
    width: 17.5em;
    max-width: 100%;
    color: white;
    background-color: green;
    font-size: 0.85em;
}
.btnServ3:hover{
    color: green;
    background-color: white;
    border-color: green;
}
/*-------------------------------------------------- */

/*SERVICIOS INGENIERÍA*/
.secciones .row .col-md-3 h6{
    font-size: 1em;
    margin-top: 2em;
    text-align: center;
}
.opciones {
    margin-top: 2em;
    margin-bottom: 3em;
}
.opciones ul li {
    font-size: 0.7em;
}

/*SERVICIOS GESTION TI*/
.logosTI {
    margin-top: 3em;
    margin-bottom: 3em;
}
.logosTI .row  .col-md-8{
    margin-right: 3em;
}
.logosTI .row .col-md-8 .row .col-4{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}
.tituloLogos{
    margin-top: 3em;
}
.logosTI .row{
    margin: 0 0 0 0;
}
.seccionlogos{
    width: 8em;
    height: 8em;
    max-height: 100%;
    max-width: 100%;
    background-color: #ee7424;
    border: #ee7424;
    border-radius: 50%;


}